backend/k8s
backend/service-account-new.json
backend/client
backend/.example.env
backend/config.json
backend/Dockerfile
backend/Dockerfile.alpine
backend/test
backend/requirements-dev.txt
backend/data
backend/env
backend/.venv
backend/scripts
backend/.vscode
backend/redisinsight
backend/notebooks
backend/docker-compose.override.yml
backend/docker-compose.redis.yml
backend/docker-compose.yml
backend/chroma_logs.log
backend/.chroma
backend/db
backend/.gitignore
backend/.pytest_cache
backend/langchain.readthedocs.io
backend/.gitlab-ci.yml
backend/README.md
backend/.git
backend/.gitignore
backend/.pylintrc
backend/Changelog.md
backend/.env*
backend/.dockerignore
backend/lint.py
backend/vercel.json
backend/__pycache__