k8s
service-account-new.json
client
.example.env
config.json
Dockerfile
Dockerfile.alpine
test/
requirements-dev.txt
data
env
.venv
scripts
.vscode
redisinsight
notebooks
docker-compose.override.yml
docker-compose.redis.yml
docker-compose.yml
chroma_logs.log
.chroma
db
.gitignore
.pytest_cache
langchain.readthedocs.io
.gitlab-ci.yml
README.md
.git
.gitignore
.pylintrc
Changelog.md
.env*
.dockerignore
lint.py