langchain 
langchain_openai 
langchain-anthropic
langchain-pinecone
langchain-groq
langchain_experimental 
pandas
pinecone-client
uvicorn
fastapi
transformers
lxml
# playwright
beautifulsoup4
nest-asyncio
fillpdf
pypdf
# faiss-gpu
faiss-cpu
networkx
ujson
minio
python-multipart
sqlalchemy 
asyncpg 
aiosqlite
python-jose[cryptography]
aioredis
redis
alembic
aiomysql
setuptools