authlib
langchain 
langchain_openai 
langchain-anthropic
# langchain-pinecone
langchain-postgres
langchain-groq
langchain_experimental 
pandas
uvicorn
fastapi
transformers
lxml
# playwright
beautifulsoup4
nest-asyncio
fillpdf
pypdf
# faiss-gpu
# faiss-cpu
networkx
ujson
setuptools
loguru
minio
python-multipart
python-jose[cryptography]
aioredis
redis
# pinecone-client
alembic
# aiomysql
# aiosqlite
psycopg[binary]
sqlalchemy 
asyncpg 
